-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: khamarbd2
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `app_user`
--

DROP TABLE IF EXISTS `app_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `app_user` (
  `user_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `bio` text DEFAULT NULL,
  `business_name` varchar(160) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `district` varchar(60) DEFAULT NULL,
  `division` varchar(60) DEFAULT NULL,
  `email` varchar(160) DEFAULT NULL,
  `is_verified` bit(1) DEFAULT NULL,
  `kyc_doc_ref` varchar(255) DEFAULT NULL,
  `kyc_doc_type` varchar(255) DEFAULT NULL,
  `marketplace_mode` varchar(255) DEFAULT NULL,
  `name` varchar(120) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `phone` varchar(20) NOT NULL,
  `photo_url` varchar(255) DEFAULT NULL,
  `preferred_language` varchar(255) DEFAULT NULL,
  `primary_role` varchar(255) NOT NULL,
  `registration_no` varchar(255) DEFAULT NULL,
  `specialization_sector` varchar(255) DEFAULT NULL,
  `subscription_expires_at` datetime(6) DEFAULT NULL,
  `subscription_plan` varchar(30) DEFAULT NULL,
  `subscription_status` varchar(255) DEFAULT NULL,
  `upazila` varchar(60) DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `UKexslcon9jmfy0xhclbtpf26vo` (`phone`),
  UNIQUE KEY `UK1j9d9a06i600gd43uu3km82jw` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_user`
--

LOCK TABLES `app_user` WRITE;
/*!40000 ALTER TABLE `app_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `app_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_message`
--

DROP TABLE IF EXISTS `chat_message`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chat_message` (
  `message_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `content` text NOT NULL,
  `sent_at` datetime(6) DEFAULT NULL,
  `consultation_id` bigint(20) NOT NULL,
  `sender_id` bigint(20) NOT NULL,
  PRIMARY KEY (`message_id`),
  KEY `FKsmo4sy7vyy2xgc6x3vcm1ikm9` (`consultation_id`),
  KEY `FK8y11cpin9xrphp0tkui2jvt2y` (`sender_id`),
  CONSTRAINT `FK8y11cpin9xrphp0tkui2jvt2y` FOREIGN KEY (`sender_id`) REFERENCES `app_user` (`user_id`),
  CONSTRAINT `FKsmo4sy7vyy2xgc6x3vcm1ikm9` FOREIGN KEY (`consultation_id`) REFERENCES `specialist_consultation` (`consultation_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_message`
--

LOCK TABLES `chat_message` WRITE;
/*!40000 ALTER TABLE `chat_message` DISABLE KEYS */;
/*!40000 ALTER TABLE `chat_message` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `farm`
--

DROP TABLE IF EXISTS `farm`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `farm` (
  `farm_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `district` varchar(60) NOT NULL,
  `division` varchar(60) NOT NULL,
  `farm_name` varchar(120) NOT NULL,
  `farm_type` varchar(255) NOT NULL,
  `latitude` decimal(9,6) DEFAULT NULL,
  `location_details` varchar(255) DEFAULT NULL,
  `longitude` decimal(9,6) DEFAULT NULL,
  `upazila` varchar(60) NOT NULL,
  `user_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`farm_id`),
  KEY `FK4n85n2uq0xceb9gcufvkcphjm` (`user_id`),
  CONSTRAINT `FK4n85n2uq0xceb9gcufvkcphjm` FOREIGN KEY (`user_id`) REFERENCES `app_user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `farm`
--

LOCK TABLES `farm` WRITE;
/*!40000 ALTER TABLE `farm` DISABLE KEYS */;
INSERT INTO `farm` VALUES (1,'2026-10-05 12:47:14.000000','Dhaka','Dhaka','RAgro','DAIRY_LIVESTOCK',NULL,'Dhaka',NULL,'Dhaka',1),(2,'2026-10-05 12:48:27.000000','Dhaka','Dhaka','Rdairy','DAIRY_LIVESTOCK',NULL,'vatara, Dhaka',NULL,'Dhaka',1),(3,'2026-10-06 13:25:53.000000','Dhaka','Dhaka','TFishfarm','DAIRY_LIVESTOCK',NULL,'Dhaka',NULL,'Dhaka',4);
/*!40000 ALTER TABLE `farm` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `farm_ledger`
--

DROP TABLE IF EXISTS `farm_ledger`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `farm_ledger` (
  `ledger_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `amount` decimal(12,2) DEFAULT NULL,
  `category` varchar(40) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_by` bigint(20) DEFAULT NULL,
  `details_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`details_json`)),
  `entry_type` varchar(255) NOT NULL,
  `event_date` date NOT NULL,
  `notes` text DEFAULT NULL,
  `prescription_id` bigint(20) DEFAULT NULL,
  `quantity` decimal(12,2) DEFAULT NULL,
  `routine_task_id` bigint(20) DEFAULT NULL,
  `unit_code` varchar(20) DEFAULT NULL,
  `farm_id` bigint(20) DEFAULT NULL,
  `lot_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`ledger_id`),
  KEY `FKp7l82g8dwfx5lvdxwxk8u2y79` (`farm_id`),
  KEY `FKtkr08x8apuy5nxsg7kp5gy8w9` (`lot_id`),
  CONSTRAINT `FKp7l82g8dwfx5lvdxwxk8u2y79` FOREIGN KEY (`farm_id`) REFERENCES `farm` (`farm_id`),
  CONSTRAINT `FKtkr08x8apuy5nxsg7kp5gy8w9` FOREIGN KEY (`lot_id`) REFERENCES `lot_or_animal` (`lot_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `farm_ledger`
--

LOCK TABLES `farm_ledger` WRITE;
/*!40000 ALTER TABLE `farm_ledger` DISABLE KEYS */;
/*!40000 ALTER TABLE `farm_ledger` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lot_or_animal`
--

DROP TABLE IF EXISTS `lot_or_animal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lot_or_animal` (
  `lot_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `area_size` decimal(10,2) DEFAULT NULL,
  `area_unit` varchar(255) DEFAULT NULL,
  `category` varchar(255) NOT NULL,
  `closed_at` date DEFAULT NULL,
  `closing_note` text DEFAULT NULL,
  `expected_harvest_date` date DEFAULT NULL,
  `identifier_tag` varchar(60) NOT NULL,
  `quantity` int(11) DEFAULT NULL,
  `routine_template_code` varchar(40) DEFAULT NULL,
  `species_or_breed` varchar(80) NOT NULL,
  `start_date` date NOT NULL,
  `status` varchar(255) DEFAULT NULL,
  `unit_kind` varchar(255) NOT NULL,
  `farm_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`lot_id`),
  KEY `FKg9rtmbhwlm8v4jl6ednbbyg6m` (`farm_id`),
  CONSTRAINT `FKg9rtmbhwlm8v4jl6ednbbyg6m` FOREIGN KEY (`farm_id`) REFERENCES `farm` (`farm_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lot_or_animal`
--

LOCK TABLES `lot_or_animal` WRITE;
/*!40000 ALTER TABLE `lot_or_animal` DISABLE KEYS */;
INSERT INTO `lot_or_animal` VALUES (1,NULL,NULL,'Lot',NULL,NULL,NULL,'goat lot-1',1,'sonali-layer','dairy-cow','2026-10-16','ACTIVE','BATCH',1),(2,NULL,NULL,'Lot',NULL,NULL,NULL,'cow-01',1,'TPL-LIV-1791207494848','dairy-cow','2026-10-16','ACTIVE','BATCH',2),(3,NULL,NULL,'Lot',NULL,NULL,NULL,'cow101',1,NULL,'Custom','2026-10-16','ACTIVE','BATCH',3);
/*!40000 ALTER TABLE `lot_or_animal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marketplace_listing`
--

DROP TABLE IF EXISTS `marketplace_listing`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `marketplace_listing` (
  `listing_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `brand_name` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `district` varchar(60) NOT NULL,
  `division` varchar(60) NOT NULL,
  `farm_sector` varchar(255) DEFAULT NULL,
  `image_urls` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`image_urls`)),
  `listing_status` varchar(255) DEFAULT NULL,
  `listing_tab` varchar(255) NOT NULL,
  `price` decimal(12,2) NOT NULL,
  `product_category` varchar(60) NOT NULL,
  `quantity_available` decimal(12,2) NOT NULL,
  `taxonomy_code` varchar(40) DEFAULT NULL,
  `title` varchar(160) NOT NULL,
  `unit` varchar(20) NOT NULL,
  `upazila` varchar(60) NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `lot_id` bigint(20) DEFAULT NULL,
  `seller_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`listing_id`),
  KEY `FKp02li6u72fpcbrsnlva187b4v` (`lot_id`),
  KEY `FK1jo4n3qhp61dcjg8fkmycprf1` (`seller_id`),
  CONSTRAINT `FK1jo4n3qhp61dcjg8fkmycprf1` FOREIGN KEY (`seller_id`) REFERENCES `app_user` (`user_id`),
  CONSTRAINT `FKp02li6u72fpcbrsnlva187b4v` FOREIGN KEY (`lot_id`) REFERENCES `lot_or_animal` (`lot_id`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marketplace_listing`
--

LOCK TABLES `marketplace_listing` WRITE;
/*!40000 ALTER TABLE `marketplace_listing` DISABLE KEYS */;
/*!40000 ALTER TABLE `marketplace_listing` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_transaction`
--

DROP TABLE IF EXISTS `order_transaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `order_transaction` (
  `order_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `buyer_rating` int(11) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `order_reference` varchar(40) DEFAULT NULL,
  `order_status` varchar(255) DEFAULT NULL,
  `payment_note` varchar(160) DEFAULT NULL,
  `quantity` decimal(12,2) NOT NULL,
  `review_text` text DEFAULT NULL,
  `seller_id` bigint(20) DEFAULT NULL,
  `seller_rating` int(11) DEFAULT NULL,
  `total_agreed_price` decimal(12,2) NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `buyer_id` bigint(20) DEFAULT NULL,
  `listing_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`order_id`),
  KEY `FKjxlbcwgrvxnbd1mqs49j1an7b` (`buyer_id`),
  KEY `FKcshex9a6w2w6dfi7qwe93y4hg` (`listing_id`),
  CONSTRAINT `FKcshex9a6w2w6dfi7qwe93y4hg` FOREIGN KEY (`listing_id`) REFERENCES `marketplace_listing` (`listing_id`),
  CONSTRAINT `FKjxlbcwgrvxnbd1mqs49j1an7b` FOREIGN KEY (`buyer_id`) REFERENCES `app_user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_transaction`
--

LOCK TABLES `order_transaction` WRITE;
/*!40000 ALTER TABLE `order_transaction` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_transaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prescription`
--

DROP TABLE IF EXISTS `prescription`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `prescription` (
  `prescription_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `diagnosis` varchar(255) NOT NULL,
  `digital_signature` varchar(255) DEFAULT NULL,
  `issued_at` datetime(6) DEFAULT NULL,
  `special_notice` text DEFAULT NULL,
  `status` varchar(20) DEFAULT NULL,
  `symptoms_note` text DEFAULT NULL,
  `template_code` varchar(40) DEFAULT NULL,
  `consultation_id` bigint(20) DEFAULT NULL,
  `farmer_id` bigint(20) NOT NULL,
  `lot_id` bigint(20) DEFAULT NULL,
  `specialist_id` bigint(20) NOT NULL,
  PRIMARY KEY (`prescription_id`),
  UNIQUE KEY `UKoltpd5t57hktv80t3ksvnt49y` (`consultation_id`),
  KEY `FKk8juvx2ktol0bdsi1rppl3ohb` (`farmer_id`),
  KEY `FKgyms21p8wlrf9e1qn3qywcsh7` (`lot_id`),
  KEY `FKrwqbc0vvmnr6r198280r8sr2q` (`specialist_id`),
  CONSTRAINT `FK5799x8k53l61tigs4mr6hirsd` FOREIGN KEY (`consultation_id`) REFERENCES `specialist_consultation` (`consultation_id`),
  CONSTRAINT `FKgyms21p8wlrf9e1qn3qywcsh7` FOREIGN KEY (`lot_id`) REFERENCES `lot_or_animal` (`lot_id`),
  CONSTRAINT `FKk8juvx2ktol0bdsi1rppl3ohb` FOREIGN KEY (`farmer_id`) REFERENCES `app_user` (`user_id`),
  CONSTRAINT `FKrwqbc0vvmnr6r198280r8sr2q` FOREIGN KEY (`specialist_id`) REFERENCES `app_user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prescription`
--

LOCK TABLES `prescription` WRITE;
/*!40000 ALTER TABLE `prescription` DISABLE KEYS */;
/*!40000 ALTER TABLE `prescription` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prescription_item`
--

DROP TABLE IF EXISTS `prescription_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `prescription_item` (
  `item_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `category_code` varchar(40) NOT NULL,
  `dosage` varchar(120) NOT NULL,
  `duration_days` int(11) DEFAULT NULL,
  `frequency_code` varchar(20) DEFAULT NULL,
  `input_code` varchar(255) DEFAULT NULL,
  `instructions` varchar(255) DEFAULT NULL,
  `is_custom` bit(1) DEFAULT NULL,
  `item_name` varchar(255) NOT NULL,
  `sort_order` int(11) DEFAULT NULL,
  `prescription_id` bigint(20) NOT NULL,
  PRIMARY KEY (`item_id`),
  KEY `FKeykn9e2g6nbmvwhqbrdm3jb2p` (`prescription_id`),
  CONSTRAINT `FKeykn9e2g6nbmvwhqbrdm3jb2p` FOREIGN KEY (`prescription_id`) REFERENCES `prescription` (`prescription_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prescription_item`
--

LOCK TABLES `prescription_item` WRITE;
/*!40000 ALTER TABLE `prescription_item` DISABLE KEYS */;
INSERT INTO `prescription_item` VALUES (1,'Withdrawal: 7 Days','20 ml',5,NULL,NULL,'Intramuscular','\0','abcd',3,1),(2,'Withdrawal: 7 Days','100ml',7,NULL,NULL,'Intramuscular','\0','vitamin e',2,2);
/*!40000 ALTER TABLE `prescription_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `routine_task`
--

DROP TABLE IF EXISTS `routine_task`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `routine_task` (
  `task_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `action_type_code` varchar(50) DEFAULT NULL,
  `cost_prompt` bit(1) DEFAULT NULL,
  `day_offset` int(11) DEFAULT NULL,
  `done_at` datetime(6) DEFAULT NULL,
  `done_by` bigint(20) DEFAULT NULL,
  `due_date` date NOT NULL,
  `frequency` varchar(30) DEFAULT NULL,
  `note` text DEFAULT NULL,
  `source_template_code` varchar(50) DEFAULT NULL,
  `status` varchar(20) DEFAULT NULL,
  `suggested_ledger_category` varchar(60) DEFAULT NULL,
  `title_bn` varchar(200) DEFAULT NULL,
  `title_en` varchar(200) DEFAULT NULL,
  `lot_id` bigint(20) NOT NULL,
  PRIMARY KEY (`task_id`),
  KEY `FK7ace2l3nfggcqfcm4clk9clm8` (`lot_id`),
  CONSTRAINT `FK7ace2l3nfggcqfcm4clk9clm8` FOREIGN KEY (`lot_id`) REFERENCES `lot_or_animal` (`lot_id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `routine_task`
--

LOCK TABLES `routine_task` WRITE;
/*!40000 ALTER TABLE `routine_task` DISABLE KEYS */;
/*!40000 ALTER TABLE `routine_task` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `specialist_consultation`
--

DROP TABLE IF EXISTS `specialist_consultation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `specialist_consultation` (
  `consultation_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `appointment_date` datetime(6) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `fee_amount` decimal(10,2) DEFAULT NULL,
  `prescription_notes` text DEFAULT NULL,
  `problem_description` text DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `farmer_id` bigint(20) DEFAULT NULL,
  `lot_id` bigint(20) DEFAULT NULL,
  `specialist_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`consultation_id`),
  KEY `FKbd1rhm3ibj8rmymv6wr4oe6qo` (`farmer_id`),
  KEY `FKokyf0hekhmg9qlxresuwpoptr` (`lot_id`),
  KEY `FKf4jsk8aguiqw20ulhkj2mhu3t` (`specialist_id`),
  CONSTRAINT `FKbd1rhm3ibj8rmymv6wr4oe6qo` FOREIGN KEY (`farmer_id`) REFERENCES `app_user` (`user_id`),
  CONSTRAINT `FKf4jsk8aguiqw20ulhkj2mhu3t` FOREIGN KEY (`specialist_id`) REFERENCES `app_user` (`user_id`),
  CONSTRAINT `FKokyf0hekhmg9qlxresuwpoptr` FOREIGN KEY (`lot_id`) REFERENCES `lot_or_animal` (`lot_id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `specialist_consultation`
--

LOCK TABLES `specialist_consultation` WRITE;
/*!40000 ALTER TABLE `specialist_consultation` DISABLE KEYS */;
/*!40000 ALTER TABLE `specialist_consultation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subscription_history`
--

DROP TABLE IF EXISTS `subscription_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subscription_history` (
  `subscription_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `amount` decimal(10,2) NOT NULL,
  `approved_at` datetime(6) DEFAULT NULL,
  `approved_by` bigint(20) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `payment_method` varchar(20) NOT NULL,
  `period_end` date DEFAULT NULL,
  `period_start` date DEFAULT NULL,
  `plan` varchar(30) NOT NULL,
  `proof_url` varchar(255) DEFAULT NULL,
  `status` varchar(20) DEFAULT NULL,
  `transaction_id` varchar(60) NOT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`subscription_id`),
  KEY `FK6w53cdfylruvp9ki6isbvduhh` (`user_id`),
  CONSTRAINT `FK6w53cdfylruvp9ki6isbvduhh` FOREIGN KEY (`user_id`) REFERENCES `app_user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscription_history`
--

LOCK TABLES `subscription_history` WRITE;
/*!40000 ALTER TABLE `subscription_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `subscription_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_template`
--

DROP TABLE IF EXISTS `system_template`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_template` (
  `template_code` varchar(50) NOT NULL,
  `content_json` text DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `duration_days` int(11) DEFAULT NULL,
  `name_bn` varchar(120) DEFAULT NULL,
  `name_en` varchar(120) DEFAULT NULL,
  `owner_user_id` bigint(20) DEFAULT NULL,
  `sector` varchar(30) NOT NULL,
  `seed_version` varchar(20) DEFAULT NULL,
  `template_type` varchar(30) NOT NULL,
  `variety` varchar(60) DEFAULT NULL,
  PRIMARY KEY (`template_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_template`
--

LOCK TABLES `system_template` WRITE;
/*!40000 ALTER TABLE `system_template` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_template` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `taxonomy_item`
--

DROP TABLE IF EXISTS `taxonomy_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `taxonomy_item` (
  `item_code` varchar(60) NOT NULL,
  `aliases` varchar(255) DEFAULT NULL,
  `category_code` varchar(60) DEFAULT NULL,
  `domain` varchar(40) NOT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `name_bn` varchar(150) DEFAULT NULL,
  `name_en` varchar(150) DEFAULT NULL,
  `parent_code` varchar(60) DEFAULT NULL,
  `sector` varchar(60) DEFAULT NULL,
  `seed_version` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`item_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `taxonomy_item`
--

LOCK TABLES `taxonomy_item` WRITE;
/*!40000 ALTER TABLE `taxonomy_item` DISABLE KEYS */;
/*!40000 ALTER TABLE `taxonomy_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_saved_listings`
--

DROP TABLE IF EXISTS `user_saved_listings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_saved_listings` (
  `user_id` bigint(20) NOT NULL,
  `listing_id` bigint(20) NOT NULL,
  KEY `FKeiwj65msbqvpwn72ne2t6kr0h` (`listing_id`),
  KEY `FKecaqaomkn7d5ghbcvxe9xf9bx` (`user_id`),
  CONSTRAINT `FKecaqaomkn7d5ghbcvxe9xf9bx` FOREIGN KEY (`user_id`) REFERENCES `app_user` (`user_id`),
  CONSTRAINT `FKeiwj65msbqvpwn72ne2t6kr0h` FOREIGN KEY (`listing_id`) REFERENCES `marketplace_listing` (`listing_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_saved_listings`
--

LOCK TABLES `user_saved_listings` WRITE;
/*!40000 ALTER TABLE `user_saved_listings` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_saved_listings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `weather_rule`
--

DROP TABLE IF EXISTS `weather_rule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `weather_rule` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `alert_message` varchar(255) DEFAULT NULL,
  `condition_parameter` varchar(255) DEFAULT NULL,
  `operator` varchar(255) DEFAULT NULL,
  `sector` varchar(255) DEFAULT NULL,
  `threshold_value` double DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `weather_rule`
--

LOCK TABLES `weather_rule` WRITE;
/*!40000 ALTER TABLE `weather_rule` DISABLE KEYS */;
/*!40000 ALTER TABLE `weather_rule` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-07 19:12:30
